*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 8px; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal; }

img {
  width: 100%;
  max-width: 100%;
  transition: all 0.3s ease-out 0s; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.fix {
  overflow: hidden; }

a,
.button,
button {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: #1BA39C;
  text-decoration: none; }

a {
  color: #1696e7;
  outline: medium none; }

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  color: #313131;
  margin-top: 0;
  font-style: normal;
  font-weight: 400; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 4rem;
  font-weight: 500; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.6rem; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

p {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2.4rem;
  color: #7e7e7e;
  margin-bottom: 1.5rem; }

hr {
  border-bottom: 1px solid #eceff8;
  border-top: 0 none;
  margin: 3rem 0;
  padding: 0; }

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400; }

*::-moz-selection {
  background: #d6b161;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #444;
  color: #fff;
  text-shadow: none; }

.fz-very-small {
  font-size: 1.2rem; }

.fz-small {
  font-size: 1.4rem; }

.fz-normal {
  font-size: 1.6rem; }

.fz-large {
  font-size: 2rem; }

.fz-extra-large {
  font-size: 2.4rem; }

.fz-big {
  font-size: 3rem !important; }

.text-black {
  color: #000; }

.text-theme {
  color: #1BA39C; }

.hover-text-black:hover {
  color: #000; }

.hover-text-dark:hover {
  color: #343a40; }

.hover-text-white:hover {
  color: #fff; }

.hover-text-theme:hover {
  color: #1BA39C; }

.bg-black {
  background-color: #000; }

.bg-theme {
  background-color: #1BA39C; }

.hover-bg-dark:hover {
  background-color: #343a40; }

.hover-bg-black:hover {
  background-color: #000; }

.hover-bg-white:hover {
  background-color: #fff; }

.hover-bg-theme:hover {
  background-color: #1BA39C; }

.go-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #004e00;
  color: #fff;
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(2rem);
  visibility: hidden;
  opacity: 0; }
  .go-to-top.active {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1; }
  .go-to-top:hover {
    transform: translateY(-4px); }
  .go-to-top:active {
    transform: translateY(-2px); }

.add {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.3); }

.arrows {
  z-index: 1;
  background: #1BA39C;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  cursor: pointer; }
  .arrows.prev {
    left: 3px; }
  .arrows.next {
    right: 2px; }

ul.main-ul {
  width: 100%;
  max-width: 70rem; }
  ul.main-ul li {
    display: block;
    padding: 1rem 0; }
    ul.main-ul li a {
      float: left;
      transition: .3s; }
      ul.main-ul li a:hover {
        transform: translateX(1rem);
        color: #1BA39C !important; }
    ul.main-ul li i {
      float: right;
      cursor: pointer;
      font-size: 2rem; }
    ul.main-ul li ul {
      padding: 1rem 2rem;
      clear: both;
      display: none; }

header .banner {
  background-image: url("../images/banner-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60rem;
  background-position: bottom;
  position: relative; }
  header .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96%;
    max-width: 80rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7); }
    header .banner-content h1, header .banner-content p {
      color: #fff; }
    header .banner-content h1 {
      font-size: 30px; }
    header .banner-content p {
      line-height: 1.8; }

footer.footer {
  background-color: #272727;
  color: #fff; }

.button-type-1 {
  color: #fff;
  background-color: #1BA39C;
  font-weight: 700;
  font-size: 1.6rem;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 3px;
  border: 1px solid transparent; }
  .button-type-1:hover {
    color: #1BA39C;
    background-color: transparent;
    border-color: #1BA39C; }

.button-type-2 {
  padding: 1rem;
  font-size: 1.4rem; }

.button-link {
  color: #000;
  font-size: 1.4rem;
  text-decoration: underline; }
  .button-link:hover {
    color: #1BA39C; }

.navigation-open {
  cursor: pointer; }

.logo-area .logo {
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  color: #000; }

.social-links p {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  margin: 0 .5rem; }
  .social-links p a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    font-size: 1.8rem;
    height: 100%;
    width: 100%;
    border: 1px solid #000; }
  .social-links p:hover > a {
    color: #fff;
    background-color: #000; }

.navbar-navigations-desktop {
  background-color: #1BA39C; }

.navbar-navigations-mobile {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #1BA39C;
  z-index: 1;
  overflow-x: hidden; }
  .navbar-navigations-mobile li.navigation-close {
    position: absolute;
    top: 1rem;
    right: 1rem; }
  .navbar-navigations-mobile li a {
    color: #fff; }
  .navbar-navigations-mobile li a:hover {
    color: #000 !important; }

.post {
  margin-bottom: 3rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: .3s; }
  .post div {
    overflow: hidden; }
  .post img {
    height: 30rem;
    object-fit: cover;
    object-position: center;
    transition: .3s;
    transform: scale(1.05); }
  .post:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }
  .post:hover img {
    transform: scale(1); }

.side-bar-component {
  border: 1px solid #dee2e6;
  padding-top: 0 !important;
  transition: .3s; }
  .side-bar-component-name {
    text-align: center; }
    .side-bar-component-name h5 {
      display: inline-block;
      position: relative;
      padding: 2rem 3rem; }
      .side-bar-component-name h5::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 100%;
        height: 1px;
        width: 5rem;
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.3); }
      .side-bar-component-name h5::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 100%;
        height: 1px;
        width: 5rem;
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.3); }
  .side-bar-component.news-letter form {
    position: relative; }
  .side-bar-component.news-letter .email-submit {
    border: none;
    background: #1BA39C;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 4rem;
    font-size: 1.4rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .side-bar-component.instagram a {
    position: relative;
    display: block; }
    .side-bar-component.instagram a span.tooltip {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.4rem;
      background: rgba(27, 163, 156, 0.9);
      color: #fff; }
  .side-bar-component.instagram img {
    height: 8rem;
    object-fit: cover; }
  .side-bar-component:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }

.small-banner .banner {
  height: 30rem; }

.slick-dots li button {
  background: #1BA39C;
  border-radius: 50%; }

.slick-dots li.slick-active button {
  background-color: #0d4b48; }

.contact-info-inner {
  transition: .3s;
  text-align: center;
  padding: 3rem; }
  .contact-info-inner:hover {
    transform: translatey(-5px);
    box-shadow: 4px 4px 1rem rgba(0, 0, 0, 0.3); }

.contact-form .message {
  min-height: 12rem; }

@media (min-width: 768px) {
  html {
    font-size: 10px; }
  .social-links p {
    height: 4rem;
    width: 4rem; }
  .logo-area .logo {
    font-size: 7rem; }
  .banner .banner-content h1 {
    font-size: 4rem !important; } }
