.navigation-open{
	cursor: pointer;
}

.logo-area{
	.logo{
		font-family: 'Monoton', cursive;
		// font-size: 7rem;
		font-size: 3rem;
		color: $color-black;
	}
}
.social-links{
	p{
		// height: 4rem;
		// width: 4rem;
		height: 3rem;
		width: 3rem;
		display: inline-block;
		margin: 0 .5rem;

		a{
			@include flex-center;
			background-color: $color-white;
			color: $color-black;
			font-size: 1.8rem;
			height: 100%;
			width: 100%;
			border: 1px solid $color-black;
		}
		&:hover > a{
			color: $color-white;
			background-color: $color-black;
		}
	}
}
.navbar-navigations-desktop{
	background-color: $color-theme;
}

.navbar-navigations-mobile{
	// width: 30rem;
	width: 0;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	background-color: $color-theme;
	z-index: 1;
	overflow-x: hidden;


	li.navigation-close{
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
	li{
		a{
			color: $color-white;
		}
		a:hover{
			color: $color-black !important;
		}
	}
}